.contact-container{
    display: grid;
    grid-template-columns: 1.7fr 2.10fr;
    margin: 5% 10%;
    align-items: center;
}

.contact-img-container{
    width: 100%;
    align-self: center;
    padding-left: 5%;
}

.contact-img-container img{
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 768px){
    .contact-container{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-gap: 0;
    }
    .contact-img-container{
        margin-top: 4vh;
        padding: 0
    }
    .contact-input{
        height: 7vh;
    }
}